# Git
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment files
.env
.env.*

# Tests & cache
.pytest_cache/
.mypy_cache/
tests/

# Local databases
*.db
*.sqlite3
test.db

# Logs
*.log

# Build artifacts
dist/
build/

# OS
.DS_Store

# IDE
.vscode/
.idea/