# Environment
ENV=development

# For Docker (default)
DATABASE_URL=postgresql://postgres:postgres@db:5432/urlshortener

# For local (uncomment if running outside Docker)
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/urlshortener

# Redis (optional)
REDIS_URL=redis://redis:6379/0

# Base URL for generated short links
BASE_URL=http://127.0.0.1:8000

# App port
PORT=8000